[Unit]
Description=%p container
Requires=service.system.docker.service
After=service.system.docker.service
After=cron.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/sh /storage/.kodi/addons/%p/bin/%p
ExecStop=/bin/sh /storage/.kodi/addons/%p/bin/stop

[Install]
WantedBy=multi-user.target
