<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <category   label="30000">
      <setting label="30001" type="lsep" />
      <setting label="30005" type="folder" id="V_config"       default="/storage/.kodi/userdata/addon_data/docker.linuxserver.emby" option="writeable" />
      <setting label="30011" type="bool"   id="E_net_host"     default="false" />
      <setting label="30012" type="number" id="P_port"         default="8096" enable="eq(-1,false)" />
      <setting label="30006" type="folder" id="V_data_tvshows" default="/storage/tvshows"                                           option="writeable" />
      <setting label="30007" type="folder" id="V_data_movies"  default="/storage/videos"                                            option="writeable" />
      <setting label="30010" type="text"   id="E_additional"   default="" />
      <setting label="30013" type="bool"   id="E_beta"         default="false" />
      <setting label="30020" type="lsep" />
      <setting label="30021" type="bool"   id="E_manual_uid"   default="false" />
      <setting label="30022" type="number" id="E_PUID"         default="65534" enable="eq(-1,true)" />
      <setting label="30023" type="number" id="E_PGID"         default="100" enable="eq(-2,true)" />
   </category>
</settings>
