<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <category   label="30000">
      <setting label="30001" type="lsep" />
      <setting label="30005" type="folder" id="V_config"    default="/storage/.kodi/userdata/addon_data/docker.linuxserver.quassel-core/config"  option="writeable" />
      <setting label="30008" type="number" id="P_port"      default="4242" />
   </category>
</settings>
