<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <category   label="30000">
      <setting label="30001" type="lsep" />
      <setting label="30005" type="folder" id="V_config"  default="/storage/.kodi/userdata/addon_data/docker.linuxserver.swag/config"  option="writeable" />
      <setting type="sep"/>
      <setting label="30006" type="lsep"/>
      <setting label="30007" type="number" id="P_port"    default="443" />
      <setting label="30008" type="bool"   id="P_port2_bool"   default="true" />
      <setting label="30009" type="number" id="P_port2"    default="80" enable="eq(-1,true)" />
      <setting type="sep"/>
      <setting label="30010" type="lsep"/>
      <setting label="30011" type="text"   id="E_url"     default="" />
      <setting label="30012" type="text"   id="E_subd"    default="www," />
      <setting label="30013" type="labelenum"   id="E_validation" values="http|dns|duckdns"   default="http" />
      <setting label="30014" type="labelenum"   id="E_dnsplugin" values="aliyun|cloudflare|cloudxns|cpanel|digitalocean|directadmin|dnsimple|dnsmadeeasy|domeneshop|gandi|gehirn|google|hetzner|inwx|linode|luadns|netcup|njalla|nsone|ovh|rfc2136|route53|sakuracloud|transip|vultr"   default="cloudflare" enable="eq(-1,1)" />
      <setting label="30015" type="text"   id="E_duckdnstoken"   default="" enable="eq(-2,2)" />
      <setting label="30016" type="bool"   id="E_email_bool"   default="false" />
      <setting label="30017" type="text"   id="E_email"   default="" enable="eq(-1,true)" />
      <setting label="30018" type="labelenum"   id="E_certprov"   values="letsencrypt|zerossl"   default="letsencrypt" />
      <setting label="30019" type="text"   id="E_maxmind"     default="" />
      <setting label="30025" type="text"   id="E_additional"   default="" />
   </category>
</settings>
