<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <category   label="30000">
      <setting label="30001" type="lsep" />
      <setting label="30005" type="folder" id="V_config"     default="/storage/.kodi/userdata/addon_data/docker.linuxserver.beets/config"  option="writeable" />
      <setting label="30006" type="folder" id="V_downloads"  default="/storage/downloads/beets"  option="writeable" />
      <setting label="30008" type="folder" id="V_music"      default="/storage/music"            option="writeable" />
      <setting label="30009" type="number" id="P_port"       default="8337" />
   </category>
</settings>
