<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <category   label="30000">
      <setting label="30005" type="folder" id="V_config"  default="/storage/.kodi/userdata/addon_data/docker.linuxserver.transmission/config"  option="writeable" />
      <setting label="30006" type="folder" id="V_downloads"         default="/storage/.kodi/userdata/addon_data/docker.linuxserver.transmission/downloads"  option="writeable" />
      <setting label="30007" type="lsep"/>
      <setting label="30008" type="number" id="P_port"         default="9091" />
      <setting label="30009" type="number" id="P_port2"        default="51413" />
      <setting label="30010" type="lsep"/>
      <setting label="30011" type="bool"   id="E_auth"   default="false" />
      <setting label="30012" type="text"   id="E_user"     default=""  enable="eq(-1,true)"/>
      <setting label="30013" type="text"   id="E_password"     default=""  enable="eq(-2,true)"/>
   </category>
</settings>
